*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d5f0ff;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 40px;
}

.container h1{
    font-size: 3em;
    letter-spacing: 2px;
    color: #00486f;
}

span{
    font-size: 4em;
    color: #008bd5;
}
.button-container{
    display: flex;
    gap: 15px;
}
.btn{
    background-color: transparent;
    border-top: none;
    border-bottom: 2px solid #006aa2;
    border-right: none;
    border-left: none;
    padding: 15px;
    letter-spacing: 2px;
    color: #006aa2;
    font-size: 1em;
    cursor: pointer;
    font-weight: 550;
}

.btn:hover{
    transition: 0.5s;
    background-color: #006aa2;
    color: white;
    border-color: transparent;
    border-radius: 5px;
}